

h1{
    text-align: center;
    color:black;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    color:yellow;
    font-size: large;
    background-image: url(img2.jpg);
    font-style:bold;
}

a:link {
    color:black;
    background-color: yellow;
    text-decoration: underline;
}

a:visited {
    color: darkcyan;
    background-color: cyan;
    text-decoration: double;
}

a:hover {
    color:yellow;
    background-color: black;
    text-decoration: line-through;
}

